
.news-post {
  margin-bottom: 60px;
}

.news-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}

.news-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.news-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.news-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.news-description {
  font-size: 20px;
  color: #999;
}

.logo-image {
  max-height: 25px;
  margin-top: -3px;
}

a.doc-index-link {
  padding: 3px !important;
}

.bs-docs-sidebar .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: navy;
  background-color: transparent;
  border-left: 2px solid navy;
}
